* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eo-en.en-eo.antaux_t2x -text
/apertium-eo-en.en-eo.genitive.t1x -text
/apertium-eo-en.en-eo.t1x -text
/apertium-eo-en.en-eo.t2x -text
/apertium-eo-en.en-eo.t3x -text
/apertium-eo-en.en.acx -text
/apertium-eo-en.en.dix -text
/apertium-eo-en.en.tsx -text
/apertium-eo-en.eo-en.dix -text
/apertium-eo-en.eo-en.t1x -text
/apertium-eo-en.eo-en.t2x -text
/apertium-eo-en.eo-en.t3x -text
/apertium-eo-en.eo-multiwords.txt -text
/apertium-eo-en.eo.dix.xml -text
/apertium-eo-en.eo.tsx -text
/apertium-eo-en.post-en.dix -text
/apertium-eo-en.post-eo.dix -text
/autogen.sh -text
/check_others.sh -text
/check_sint_tag.sh -text
/configure.ac -text
corpa/corpus-stat-en-eo.sh -text
corpa/corpus-stat-eo-en.sh -text
corpa/elpaki.sh -text
corpa/enwiki.crp.txt.bz2 -text
corpa/eowiki.crp.txt.bz2 -text
dev/apertium-eo-en.en_aldonota.dix -text
dev/eval-Archimedes.apertium-1.0.txt -text
dev/eval-Archimedes.en.txt -text
dev/eval-Archimedes.post-edited.txt -text
dev/eval-RussianEmpire.apertium.txt -text
dev/eval-RussianEmpire.en.txt -text
dev/eval-RussianEmpire.post-edited.txt -text
dev/freeling.en-open-chopped.dix -text
dev/freeling.en-open.dix -text
dev/gen-test.py -text
dev/paradigm-chopper.py -text
dev/superblank-denumberer.py -text
dev/superblank-numberer.py -text
/en-eo-unsupervised.make -text
/en-eo.prob -text svneol=unset#unset
/en-eo_oldtag.prob -text svneol=unset#unset
/eo-en.prob -text svneol=unset#unset
/hitparade-en.txt -text
/modes.xml -text
/multi-gen.sh -text
/other-tests.sh -text
/regression-tests.sh -text
res/esperanto_nouns_with_gender.txt -text
res/tradukunet.txt -text
res/vortoj_kun_konata_vortklaso.txt -text
/testcorpus_en-eo.sh -text
/testvoc_en-eo.sh -text
/testvoc_eo-en.sh -text
