* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eo-en.en-eo.t1x -text
/apertium-eo-en.en-eo.t2x -text
/apertium-eo-en.en-eo.t3x -text
/apertium-eo-en.en.dix -text
/apertium-eo-en.en.tsx -text
/apertium-eo-en.eo-en.dix -text
/apertium-eo-en.eo-en.t1x -text
/apertium-eo-en.eo-en.t2x -text
/apertium-eo-en.eo-en.t3x -text
/apertium-eo-en.eo-multiwords.txt -text
/apertium-eo-en.eo.dix.xml -text
/apertium-eo-en.post-en.dix -text
/apertium-eo-en.post-eo.dix -text
/autogen.sh -text
/check_others.sh -text
/check_sint_tag.sh -text
/configure.ac -text
dev/ald_tradukunet.eo-en.dix -text
dev/apertium-eo-en.eo-en-after-clean.dix -text
dev/freeling.en-open-chopped.dix -text
dev/freeling.en-open.dix -text
dev/tradukunet_missing_en_words.txt -text
/en-eo-unsupervised.make -text
/en-eo.prob -text svneol=unset#unset
/eo-en.prob -text svneol=unset#unset
java/build.xml -text
java/src/apertium_eo_en/AldonuCxiujnVortojn.java -text
java/src/apertium_eo_en/Iloj.java -text
java/src/apertium_eo_en/LeguTradukuNet.java -text
java/src/apertium_eo_en/Paro.java -text
java/src/apertium_eo_en/malnova/FixInconsistency.java -text
java/src/apertium_eo_en/malnova/GenerateNumbersForBidix.java -text
java/src/apertium_eo_en/malnova/LeguAliajn.java -text
/modes.xml -text
/multi-gen.sh -text
/other-tests.sh -text
/regression-tests.sh -text
res/esperanto_nouns_with_gender.txt -text
res/tradukunet.txt -text
res/vortoj_kun_konata_vortklaso.txt -text
/testvoc_en-eo.sh -text
